<!-- menu-bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3 fixed-top">
    <!-- Navbar content -->
    <a href="#" class="navbar-brand mr-3">eHotel</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a routerLink="/home" class="nav-item nav-link">Home</a>
            <a routerLink="/admin" class="nav-item nav-link">Admin</a>
            <a routerLink="/user" class="nav-item nav-link">User</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a routerLink="/sign-up" class="nav-item nav-link">Sign Up</a>
            <a routerLink="/log-in" class="nav-item nav-link">Log In</a>
        </div>
    </div>
</nav>


